span.text-muted.cus-em{
    background-color: #2cabe3;
    color: #fff !important;
    padding: 5px;
    border-radius: 5px;
}
span.text-muted.cus-ph{
	padding: 5px;
	display: block;
}
/*#cke_1_contents{
	min-height: 700px;
}*/
.sp_img img {
    width: 150px;
    height: 60px;
}