.mainloading {
    position: fixed;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999999;
    background-color: #000000;
    opacity: 0.7;
}

.load span {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 60px;
    z-index: 9999999;
    /* border: 5px solid rgba(255, 255, 255, 0.2); */
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
}

.load span img {
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}