 .button {
     --default: #d4d4d4;
     --active: #556ee6;
     position: relative;
     border: none;
     outline: none;
     background: none;
     padding: 0;
     -webkit-appearance: none;
     -webkit-tap-highlight-color: transparent;
     cursor: pointer;
     -webkit-transform: scale(var(--s, 1));
     transform: scale(var(--s, 1));
     -webkit-transition: -webkit-transform .2s;
     transition: -webkit-transform .2s;
     transition: transform .2s;
     transition: transform .2s, -webkit-transform .2s;
 }

 .button:active {
     --s: .96;
 }

 .button svg {
     display: block;
     fill: none;
     stroke-width: var(--sw, 3px);
     stroke-linecap: round;
     stroke-linejoin: round;
 }

 .button .circle {
     width: 76px;
     height: 76px;
     -webkit-transform: rotate(-90deg);
     transform: rotate(-90deg);
 }

 .button .circle circle.default {
     stroke: var(--default);
 }

 .button .circle circle.active {
     stroke: var(--active);
     stroke-dasharray: 227px;
     stroke-dashoffset: var(--active-offset, 227px);
     -webkit-transition: stroke-dashoffset var(--all-transition, 4s) ease var(--all-delay, 0.8s);
     transition: stroke-dashoffset var(--all-transition, 4s) ease var(--all-delay, 0.8s);
 }

 .button span {
     display: block;
     position: absolute;
     left: 0;
     right: 0;
     text-align: center;
     bottom: 13px;
     font-weight: 500;
     font-size: 10px;
     color: var(--active);
     opacity: var(--count-opacity, 0);
     -webkit-transform: translateY(var(--count-y, 4px));
     transform: translateY(var(--count-y, 4px));
     -webkit-animation: var(--count, none) 0.3s ease forwards var(--all-delay, 4.6s);
     animation: var(--count, none) 0.3s ease forwards var(--all-delay, 4.6s);
     -webkit-transition: opacity .2s ease .6s, -webkit-transform .3s ease .6s;
     transition: opacity .2s ease .6s, -webkit-transform .3s ease .6s;
     transition: opacity .2s ease .6s, transform .3s ease .6s;
     transition: opacity .2s ease .6s, transform .3s ease .6s, -webkit-transform .3s ease .6s;
 }

 .button .icon {
     --sw: 2px;
     width: 24px;
     height: 40px;
     position: absolute;
     left: 50%;
     top: 50%;
     margin: -20px 0 0 -12px;
 }

 .button .icon svg.line {
     width: 4px;
     height: 37px;
     stroke: var(--active);
     position: absolute;
     left: 10px;
     top: 0;
     stroke-dasharray: 0 33px var(--line-array, 33px) 66px;
     stroke-dashoffset: var(--line-offset, 33px);
     -webkit-transform: translateY(var(--line-y, 0));
     transform: translateY(var(--line-y, 0));
     opacity: var(--line-opacity, 1);
     -webkit-transition: stroke-dasharray 0.2s, stroke-dashoffset 0.2s, -webkit-transform 0.32s ease var(--all-delay, 0.25s);
     transition: stroke-dasharray 0.2s, stroke-dashoffset 0.2s, -webkit-transform 0.32s ease var(--all-delay, 0.25s);
     transition: stroke-dasharray 0.2s, stroke-dashoffset 0.2s, transform 0.32s ease var(--all-delay, 0.25s);
     transition: stroke-dasharray 0.2s, stroke-dashoffset 0.2s, transform 0.32s ease var(--all-delay, 0.25s), -webkit-transform 0.32s ease var(--all-delay, 0.25s);
 }

 .button .icon div {
     width: 40px;
     height: 32px;
     position: absolute;
     overflow: hidden;
     left: 50%;
     bottom: 1px;
     margin-left: -20px;
     -webkit-transform: translate(var(--icon-x, 0), var(--icon-y, 0));
     transform: translate(var(--icon-x, 0), var(--icon-y, 0));
     -webkit-transition: -webkit-transform 0.3s ease var(--all-delay, 4.8s);
     transition: -webkit-transform 0.3s ease var(--all-delay, 4.8s);
     transition: transform 0.3s ease var(--all-delay, 4.8s);
     transition: transform 0.3s ease var(--all-delay, 4.8s), -webkit-transform 0.3s ease var(--all-delay, 4.8s);
     -webkit-animation: var(--overflow, none) 0s linear forwards var(--all-delay, 4.8s);
     animation: var(--overflow, none) 0s linear forwards var(--all-delay, 4.8s);
 }

 .button .icon div:before,
 .button .icon div:after {
     content: '';
     position: absolute;
     z-index: 1;
     height: 2px;
     left: var(--l, 0);
     top: 15px;
     width: var(--w, 16px);
     background: var(--active);
     border-radius: 1px;
     -webkit-transform-origin: var(--tx, 15px) 1px;
     transform-origin: var(--tx, 15px) 1px;
     -webkit-transform: rotate(var(--before-rotate, 0deg));
     transform: rotate(var(--before-rotate, 0deg));
     opacity: var(--tick-opacity, 0);
     -webkit-transition: opacity 0s linear var(--all-delay, 4.8s), -webkit-transform 0.4s ease var(--all-delay, 4.8s);
     transition: opacity 0s linear var(--all-delay, 4.8s), -webkit-transform 0.4s ease var(--all-delay, 4.8s);
     transition: transform 0.4s ease var(--all-delay, 4.8s), opacity 0s linear var(--all-delay, 4.8s);
     transition: transform 0.4s ease var(--all-delay, 4.8s), opacity 0s linear var(--all-delay, 4.8s), -webkit-transform 0.4s ease var(--all-delay, 4.8s);
 }

 .button .icon div:after {
     --l: 14px;
     --w: 26px;
     --tx: 1px;
     -webkit-transform: rotate(var(--after-rotate, 0deg));
     transform: rotate(var(--after-rotate, 0deg));
 }

 .button .icon div svg {
     stroke: var(--active);
 }

 .button .icon div svg.arrow {
     width: 40px;
     height: 32px;
     opacity: var(--arrow-opacity, 1);
     -webkit-transition: opacity 0s linear var(--all-delay, 1s);
     transition: opacity 0s linear var(--all-delay, 1s);
 }

 .button .icon div svg.progress {
     width: 444px;
     height: 10px;
     position: absolute;
     left: 0;
     top: 11px;
     -webkit-transform: translateX(var(--progress-x, 0));
     transform: translateX(var(--progress-x, 0));
     opacity: var(--progress-opacity, 0);
     -webkit-transition: opacity 0s linear var(--all-delay, 1s), -webkit-transform var(--all-transition, 4.4s) ease var(--all-delay, 0.4s);
     transition: opacity 0s linear var(--all-delay, 1s), -webkit-transform var(--all-transition, 4.4s) ease var(--all-delay, 0.4s);
     transition: transform var(--all-transition, 4.4s) ease var(--all-delay, 0.4s), opacity 0s linear var(--all-delay, 1s);
     transition: transform var(--all-transition, 4.4s) ease var(--all-delay, 0.4s), opacity 0s linear var(--all-delay, 1s), -webkit-transform var(--all-transition, 4.4s) ease var(--all-delay, 0.4s);
     -webkit-animation: var(--hide, none) 0s linear forwards var(--all-delay, 4.8s);
     animation: var(--hide, none) 0s linear forwards var(--all-delay, 4.8s);
 }

 .button.loading:not(.reset) {
     --line-y: -36px;
     --line-array: 0;
     --line-offset: 15px;
     --active-offset: 0;
     --arrow-opacity: 0;
     --progress-opacity: 1;
     --progress-x: -400px;
     --tick-opacity: 1;
     --before-rotate: 47deg;
     --after-rotate: -46deg;
     --hide: hide;
     --overflow: overflow;
     --icon-x: 2px;
     --icon-y: 7px;
     --count-opacity: 1;
     --count-y: 0;
     --count: count;
 }

 .button.reset {
     --all-delay: 0s;
     --all-transition: .3s;
 }

 @-webkit-keyframes hide {
     to {
         opacity: 0;
     }
 }

 @keyframes hide {
     to {
         opacity: 0;
     }
 }

 @-webkit-keyframes count {
     to {
         -webkit-transform: translateY(4px);
         transform: translateY(4px);
         opacity: 0;
     }
 }

 @keyframes count {
     to {
         -webkit-transform: translateY(4px);
         transform: translateY(4px);
         opacity: 0;
     }
 }

 @-webkit-keyframes overflow {
     to {
         overflow: visible;
     }
 }

 @keyframes overflow {
     to {
         overflow: visible;
     }
 }



 /*******************************************************/
 :root {
     --container-font-size: 28px;
     --container-background-color: #143982;
     --btn-upload-background-color: #0d5eff;
     --btn-upload-color: #ffffff;
     --btn-upload-width: 225px;
     --btn-upload-height: 80px;
     --btn-upload-border-radius: 0.75em;
     --btn-upload-transition-time: 50ms;
     --progress-width: 50px;
     --progress-height: 30px;
     --progress-top: -40px;
     --progress-arrow-color: #ffffff;
     --progress-arrow-background-color: #f53060;
     --progress-arrow-width: 8px;
     --progress-arrow-height: 8px;
     --check-width: 80px;
     --check-height: 45px;
     --check-stroke: 15px;
 }


 .btn-upload {
     color: var(--btn-upload-color);
     fill: var(--btn-upload-color);
     font-family: inherit;
     font-size: inherit;
     font-weight: bold;
     background-color: var(--btn-upload-background-color);
     width: var(--btn-upload-width);
     height: var(--btn-upload-height);
     padding: 0;
     border: 0;
     margin: 0;
     outline: 0;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     position: relative;
     border-radius: var(--btn-upload-border-radius);

 }

 .btn-upload:not(.btn-upload-uploading) {
     transition: box-shadow var(--btn-upload-transition-time) ease-out,
         transform var(--btn-upload-transition-time) ease-out;
 }

 .btn-upload:not(.btn-upload-uploading):hover {}

 .btn-upload:not(.btn-upload-uploading):active {

     transform: translateY(0.2em);
 }

 .btn-upload>svg {
     fill: inherit;
 }

 .btn-upload>span {
     color: inherit;
     margin-left: 0.3em;
 }

 .progress {
     color: var(--progress-arrow-color);
     font-family: inherit;
     font-size: 50%;
     background-color: var(--progress-arrow-background-color);
     width: var(--progress-width);
     height: var(--progress-height);
     display: flex;
     align-items: center;
     justify-content: center;
     display: none;
     position: absolute;
     left: 0;
     top: var(--progress-top);
     border-radius: 0.5em;
     opacity: 0;
     transform-origin: center bottom;
     transform: translateX(-50%);
     filter: drop-shadow(0 0.7em 1.2em rgba(25, 25, 25, 0.5));
 }

 .progress:after {
     content: "";
     border-top: solid var(--progress-arrow-height) var(--progress-arrow-background-color);
     border-bottom: 0;
     border-left: solid calc(var(--progress-arrow-width) / 2) transparent;
     border-right: solid calc(var(--progress-arrow-width) / 2) transparent;
     position: absolute;
     top: calc(100% - 1px);
 }

 .check {
     width: var(--check-width);
     height: var(--check-height);
     display: none;
     position: absolute;
     top: calc(50% - calc(var(--check-width) / 2));
     left: calc(50% - calc(var(--check-height) / 2));
     transform-origin: center bottom;
     transform: rotate(-45deg);
 }

 .check>span {
     background-color: #ffffff;
     display: block;
     position: absolute;
 }

 .check>span:first-child {
     width: var(--check-stroke);
     height: 0;
     top: 0;
     left: 0;
 }

 .check>span:last-child {
     width: 0;
     height: var(--check-stroke);
     bottom: 0;
     left: 0;
 }



 /****************************************************************/
 .loader--audioWave {
  width: 3em;
  height: 2em;
  background: linear-gradient(#9b59b6, #9b59b6) 0 50%, linear-gradient(#9b59b6, #9b59b6) 0.625em 50%, linear-gradient(#9b59b6, #9b59b6) 1.25em 50%, linear-gradient(#9b59b6, #9b59b6) 1.875em 50%, linear-gradient(#9b59b6, #9b59b6) 2.5em 50%;
  background-repeat: no-repeat;
  background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em;
  animation: audioWave 1.5s linear infinite;
}
@keyframes audioWave {
  25% {
    background: linear-gradient(#3498db, #3498db) 0 50%, linear-gradient(#9b59b6, #9b59b6) 0.625em 50%, linear-gradient(#9b59b6, #9b59b6) 1.25em 50%, linear-gradient(#9b59b6, #9b59b6) 1.875em 50%, linear-gradient(#9b59b6, #9b59b6) 2.5em 50%;
    background-repeat: no-repeat;
    background-size: 0.5em 2em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em;
  }
  37.5% {
    background: linear-gradient(#9b59b6, #9b59b6) 0 50%, linear-gradient(#3498db, #3498db) 0.625em 50%, linear-gradient(#9b59b6, #9b59b6) 1.25em 50%, linear-gradient(#9b59b6, #9b59b6) 1.875em 50%, linear-gradient(#9b59b6, #9b59b6) 2.5em 50%;
    background-repeat: no-repeat;
    background-size: 0.5em 0.25em, 0.5em 2em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em;
  }
  50% {
    background: linear-gradient(#9b59b6, #9b59b6) 0 50%, linear-gradient(#9b59b6, #9b59b6) 0.625em 50%, linear-gradient(#3498db, #3498db) 1.25em 50%, linear-gradient(#9b59b6, #9b59b6) 1.875em 50%, linear-gradient(#9b59b6, #9b59b6) 2.5em 50%;
    background-repeat: no-repeat;
    background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 2em, 0.5em 0.25em, 0.5em 0.25em;
  }
  62.5% {
    background: linear-gradient(#9b59b6, #9b59b6) 0 50%, linear-gradient(#9b59b6, #9b59b6) 0.625em 50%, linear-gradient(#9b59b6, #9b59b6) 1.25em 50%, linear-gradient(#3498db, #3498db) 1.875em 50%, linear-gradient(#9b59b6, #9b59b6) 2.5em 50%;
    background-repeat: no-repeat;
    background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 2em, 0.5em 0.25em;
  }
  75% {
    background: linear-gradient(#9b59b6, #9b59b6) 0 50%, linear-gradient(#9b59b6, #9b59b6) 0.625em 50%, linear-gradient(#9b59b6, #9b59b6) 1.25em 50%, linear-gradient(#9b59b6, #9b59b6) 1.875em 50%, linear-gradient(#3498db, #3498db) 2.5em 50%;
    background-repeat: no-repeat;
    background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 2em;
  }
}